In [2]:
import pandas as pd
import numpy as np

In [3]:
df1 = pd.read_csv('coordinates.csv', sep=';')
df2 = pd.read_csv('data_2017.csv', sep=',')

In [4]:
df1

,country,latitude,longitude,Area,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,AD,42.546245,1.601554,Andorra,NaN,NaN,NaN
1,AE,23.424076,53.847818,United Arab Emirates,NaN,NaN,NaN
2,AF,33.939110,67.709953,Afghanistan,NaN,NaN,NaN
3,AG,17.060816,-61.796428,Antigua and Barbuda,NaN,NaN,NaN
4,AI,18.220554,-63.068615,Anguilla,NaN,NaN,NaN
...,...,...,...,...,...,...,...
240,YE,15.552727,48.516388,Yemen,NaN,NaN,NaN
241,YT,-12.827500,45.166244,Mayotte,NaN,NaN,NaN
242,ZA,-30.559482,22.937506,South Africa,NaN,NaN,NaN
243,ZM,-13.133897,27.849332,Zambia,NaN,NaN,NaN
244,ZW,-19.015438,29.154857,Zimbabwe,NaN,NaN,NaN

In [9]:
df2

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note
0,FBS,New Food Balances,2,Afghanistan,5123,Losses,2511,Wheat and products,2017,2017,1000 tonnes,642,S,Standardized data,NaN
1,FBS,New Food Balances,2,Afghanistan,5123,Losses,2805,Rice and products,2017,2017,1000 tonnes,24,S,Standardized data,NaN
2,FBS,New Food Balances,2,Afghanistan,5123,Losses,2513,Barley and products,2017,2017,1000 tonnes,14,S,Standardized data,NaN
3,FBS,New Food Balances,2,Afghanistan,5123,Losses,2514,Maize and products,2017,2017,1000 tonnes,26,S,Standardized data,NaN
4,FBS,New Food Balances,2,Afghanistan,5123,Losses,2517,Millet and products,2017,2017,1000 tonnes,0,S,Standardized data,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5808,FBS,New Food Balances,181,Zimbabwe,5123,Losses,2732,Mutton & Goat Meat,2017,2017,1000 tonnes,1,S,Standardized data,NaN
5809,FBS,New Food Balances,181,Zimbabwe,5123,Losses,2733,Pigmeat,2017,2017,1000 tonnes,1,S,Standardized data,NaN
5810,FBS,New Food Balances,181,Zimbabwe,5123,Losses,2734,Poultry Meat,2017,2017,1000 tonnes,3,S,Standardized data,NaN
5811,FBS,New Food Balances,181,Zimbabwe,5123,Losses,2744,Eggs,2017,2017,1000 tonnes,1,S,Standardized data,NaN
5812,FBS,New Food Balances,181,Zimbabwe,5123,Losses,2848,Milk - Excluding Butter,2017,2017,1000 tonnes,21,S,Standardized data,NaN

In [5]:
df_clean = pd.merge(df2, df1[["latitude", "longitude", "Area", "country"]] , on='Area')

In [8]:
df_clean.drop(['Domain Code', 'Domain', "Element Code", "Element", "Item Code", "Flag", "Flag Description", "Note" ], axis=1, inplace=True)

In [11]:
df_clean.sample(50)

,Area Code,Area,Item,Year Code,Year,Unit,Value,latitude,longitude,country
4905,234,Uruguay,Eggs,2017,2017,1000 tonnes,2,-32.522779,-55.765835,UY
4700,223,Turkey,Millet and products,2017,2017,1000 tonnes,0,38.963745,35.243322,TR
101,7,Angola,Wheat and products,2017,2017,1000 tonnes,0,-11.202692,17.873887,AO
1451,60,El Salvador,"Fats, Animals, Raw",2017,2017,1000 tonnes,0,13.794185,-88.896530,SV
1027,44,Colombia,Grapes and products (excl wine),2017,2017,1000 tonnes,6,4.570868,-74.297333,CO
1632,70,French Polynesia,"Roots, Other",2017,2017,1000 tonnes,0,-17.679742,-149.406843,PF
1523,238,Ethiopia,Pigmeat,2017,2017,1000 tonnes,0,9.145000,40.489673,ET
3223,144,Mozambique,Mutton & Goat Meat,2017,2017,1000 tonnes,1,-18.665695,35.529562,MZ
1404,59,Egypt,"Oranges, Mandarines",2017,2017,1000 tonnes,417,26.820553,30.802498,EG
1518,238,Ethiopia,Pepper,2017,2017,1000 tonnes,0,9.145000,40.489673,ET
4925,249,Yemen,Sorghum and products,2017,2017,1000 tonnes,15,15.552727,48.516388,YE
2575,114,Kenya,"Beverages, Fermented",2017,2017,1000 tonnes,0,-0.023559,37.906193,KE
5019,181,Zimbabwe,Coffee and products,2017,2017,1000 tonnes,0,-19.015438,29.154857,ZW
3754,173,Poland,Nuts and products,2017,2017,1000 tonnes,2,51.919438,19.145136,PL
2508,108,Kazakhstan,Sugar beet,2017,2017,1000 tonnes,10,48.019573,66.923684,KZ
3911,188,Saint Kitts and Nevis,Sugar cane,2017,2017,1000 tonnes,0,17.357822,-62.782998,KN
962,40,Chile,Sweet potatoes,2017,2017,1000 tonnes,1,-35.675147,-71.542969,CL
1293,56,Dominican Republic,Sorghum and products,2017,2017,1000 tonnes,0,18.735693,-70.162651,DO
3609,166,Panama,"Offals, Edible",2017,2017,1000 tonnes,1,8.537981,-80.782127,PA
669,27,Bulgaria,"Cereals, Other",2017,2017,1000 tonnes,3,42.733883,25.485830,BG
3537,165,Pakistan,Millet and products,2017,2017,1000 tonnes,17,30.375321,69.345116,PK
3074,138,Mexico,Groundnuts (Shelled Eq),2017,2017,1000 tonnes,7,23.634501,-102.552784,MX
935,39,Chad,"Spices, Other",2017,2017,1000 tonnes,0,15.454166,18.732207,TD
491,23,Belize,Maize and products,2017,2017,1000 tonnes,5,17.189877,-88.497650,BZ
2143,99,Iceland,"Offals, Edible",2017,2017,1000 tonnes,0,64.963051,-19.020835,IS
2411,110,Japan,Oats,2017,2017,1000 tonnes,0,36.204824,138.252924,JP
4036,195,Senegal,Nuts and products,2017,2017,1000 tonnes,1,14.497401,-14.452362,SN
2680,121,Lebanon,"Roots, Other",2017,2017,1000 tonnes,0,33.854721,35.862285,LB
3313,150,Netherlands,Dates,2017,2017,1000 tonnes,1,52.132633,5.291266,NL
4207,25,Solomon Islands,"Pulses, Other and products",2017,2017,1000 tonnes,0,-9.645710,160.156194,SB
4104,197,Sierra Leone,Groundnuts (Shelled Eq),2017,2017,1000 tonnes,5,8.460555,-11.779889,SL
1118,98,Croatia,Sorghum and products,2017,2017,1000 tonnes,0,45.100000,15.200000,HR
2082,95,Honduras,"Fats, Animals, Raw",2017,2017,1000 tonnes,0,15.199999,-86.241905,HN
3275,149,Nepal,Coffee and products,2017,2017,1000 tonnes,0,28.394857,84.124008,NP
665,27,Bulgaria,Rye and products,2017,2017,1000 tonnes,1,42.733883,25.485830,BG
3661,170,Peru,Honey,2017,2017,1000 tonnes,0,-9.189967,-75.015152,PE
600,20,Botswana,"Pulses, Other and products",2017,2017,1000 tonnes,0,-22.328474,24.684866,BW
2394,109,Jamaica,Bananas,2017,2017,1000 tonnes,2,18.109581,-77.297508,JM
3407,157,Nicaragua,Coffee and products,2017,2017,1000 tonnes,6,12.865416,-85.207229,NI
794,32,Cameroon,Coffee and products,2017,2017,1000 tonnes,2,7.369722,12.354722,CM
2142,99,Iceland,"Fruits, Other",2017,2017,1000 tonnes,0,64.963051,-19.020835,IS
2846,129,Madagascar,Poultry Meat,2017,2017,1000 tonnes,2,-18.766947,46.869107,MG
3024,136,Mauritania,Milk - Excluding Butter,2017,2017,1000 tonnes,39,21.007890,-10.940835,MR
3784,174,Portugal,Rice and products,2017,2017,1000 tonnes,10,39.399872,-8.224454,PT
4258,202,South Africa,Poultry Meat,2017,2017,1000 tonnes,83,-30.559482,22.937506,ZA
561,80,Bosnia and Herzegovina,"Cereals, Other",2017,2017,1000 tonnes,3,43.915886,17.679076,BA
800,32,Cameroon,Bovine Meat,2017,2017,1000 tonnes,4,7.369722,12.354722,CM
1307,56,Dominican Republic,Groundnuts (Shelled Eq),2017,2017,1000 tonnes,0,18.735693,-70.162651,DO
3005,136,Mauritania,Rice and products,2017,2017,1000 tonnes,14,21.007890,-10.940835,MR
4366,276,Sudan,Sunflower seed,2017,2017,1000 tonnes,6,12.862807,30.217636,SD

In [10]:
df_clean.to_csv("long_lat_data.csv", sep='\t', encoding='utf-8')